Source: acme
Section: unknown
Priority: optional
Maintainer: Lucas Bonnet <lbonnet@bearstech.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/bearstech/acme.sh

Package: acme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, dnsutils
Description: Let's Encrypt bash client
 Let's Encrypt bash client
